In [134]:
import pandas as pd
# 1.获取数据
titanic = pd.read_csv("../resource/titanic/titanic.csv")
# 2.数据处理
#     缺失值处理
#     特征值->字典类型
# 3.准备好特征值 目标值
# 4.划分数据集
# 5.特征工程
# 6.决策树预估器流程
# 7.模型评估

In [135]:
titanic.head()

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,1,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,2,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,5,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

In [136]:
# 筛选特征值和目标值
x = titanic[["pclass", "age", "sex"]]
y = titanic["survived"]

In [137]:
x

     pclass      age     sex
0       1st  29.0000  female
1       1st   2.0000  female
2       1st  30.0000    male
3       1st  25.0000  female
4       1st   0.9167    male
...     ...      ...     ...
1308    3rd      NaN    male
1309    3rd      NaN    male
1310    3rd      NaN    male
1311    3rd      NaN  female
1312    3rd      NaN    male

[1313 rows x 3 columns]

In [138]:
y.head()

0    1
1    0
2    0
3    0
4    1
Name: survived, dtype: int64

In [139]:
# 2.数据处理
# 1）缺失值处理
x["age"].fillna(x["age"].mean(), inplace=True)

E:\Program Files\Environment\Anaconda3\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [140]:
x.head()

  pclass      age     sex
0    1st  29.0000  female
1    1st   2.0000  female
2    1st  30.0000    male
3    1st  25.0000  female
4    1st   0.9167    male

In [141]:
# 2）转换成字典
x = x.to_dict(orient="records")

In [142]:
x[:5]

[{'pclass': '1st', 'age': 29.0, 'sex': 'female'},
 {'pclass': '1st', 'age': 2.0, 'sex': 'female'},
 {'pclass': '1st', 'age': 30.0, 'sex': 'male'},
 {'pclass': '1st', 'age': 25.0, 'sex': 'female'},
 {'pclass': '1st', 'age': 0.9167, 'sex': 'male'}]

In [143]:
# 4.划分数据集
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [144]:
# 3.字典特征抽取
from sklearn.feature_extraction import DictVectorizer
transfer = DictVectorizer()
x_train = transfer.fit_transform(x_train)
x_test = transfer.transform(x_test)

**KNN算法对泰坦尼克号的生存进行预测**

In [148]:
from sklearn.tree import DecisionTreeClassifier,export_graphviz
# 4.决策树预估器
estimator = DecisionTreeClassifier(criterion="entropy",max_depth=5)
estimator.fit(x_train,y_train)
# 5.模型评估
y_predict = estimator.predict(x_test)
print("y_predict:\n", y_predict)
print("直接对比真实值和预测值:\n", y_predict == y_test)
# 方法2：计算准确率
score = estimator.score(x_test, y_test)
print("准确率为:\n", score)

y_predict:
 [0 0 0 1 0 1 0 0 0 0 1 0 0 0 1 0 1 0 0 0 1 1 0 0 0 0 0 1 0 1 1 1 0 1 0 0 0
 0 1 1 1 0 0 0 1 0 1 1 0 1 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1 1 0 0 0 0 0 0
 1 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0
 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 0 0
 0 1 0 1 0 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 1 0 0 0 0 0
 1 0 1 0 1 0 0 0 0 1 1 0 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 1 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0
 0 1 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0
 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 1]
直接对比真实值和预测值:
 590      True
1157     True
641     False
398      True
853      True
        ...
563      True
358      True
121      True
1097     True
83       True
Name: survived, Length: 329, dtype: bool
准确率为:
 0.790273556231003

**KNN算法对泰坦尼克号的生存进行预测**

In [146]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
# 4.KNN算法预估器 p=1曼哈顿距离 p=2欧氏距离 默认欧氏距离
estimator = KNeighborsClassifier()
# 加入网格搜索和交叉验证
# 参数准备
params_dict = {"n_neighbors": [1, 3, 5, 7, 9, 11]}
# estimator:估计器对象 param_grid：估计器参数(dict){"n_neighbors":[1,9,11]} cv:指定几折交叉验证 fit():输入训练集数据 score()准确率
estimator = GridSearchCV(estimator, param_grid=params_dict, cv=10)
estimator.fit(x_train, y_train)
# 5.模型评估
# 方法1：直接对比真实值和与测试
y_predict = estimator.predict(x_test)
print("y_predict:\n", y_predict)
print("y_test:\n", y_test)
print("直接对比真实值和预测值:\n", y_predict == y_test)
# 方法2：计算准确率
score = estimator.score(x_test, y_test)
print("准确率为:\n", score)

# 最佳参数:best_params_
print("最佳参数\n", estimator.best_params_)
# 最佳结果：best_score_
print("最佳结果\n", estimator.best_score_)
# 最佳估计器：best_estimator_
print("最佳估计器\n", estimator.best_estimator_)
# 交叉验证结果：cv_results_
print("交叉验证结果\n", estimator.cv_results_)

y_predict:
 [0 0 0 1 0 0 0 0 0 1 1 0 0 0 1 0 1 0 0 0 1 1 0 0 0 0 0 1 0 1 1 1 1 0 0 0 0
 0 1 1 1 0 0 0 1 0 1 1 0 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1 1 0 0 0 0 0 0
 1 1 0 0 0 0 1 0 0 0 0 1 0 1 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0
 0 1 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 0 1
 1 1 0 1 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 1 0 0 0 1 0
 1 0 1 0 1 0 0 0 0 1 1 0 1 0 0 0 1 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 1 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 1 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0
 0 1 0 1 0 0 0 1 0 0 0 0 1 1 0 0 0 1 0 0 0 0 0 1 0 1 1 0 0 0 0 1 1 1 0 0 0
 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 1]
y_test:
 590     0
1157    0
641     1
398     1
853     0
       ..
563     0
358     1
121     0
1097    0
83      1
Name: survived, Length: 329, dtype: int64
直接对比真实值和预测值:
 590      True
1157     True
641     False
398      True
853      True
        ...
563      True
358      True
121      True
1097     True
83       True
Name: survived, Length: 329, dtype: bool
准确率为:
 0.7872340425531915
最佳参数
 {'n_neighbors': 7}
最佳结果
 0.8039270253555969
最佳估计器
 KNeighborsClassifier(n_neighbors=7)
交叉验证结果
 {'mean_fit_time': array([0.00149481, 0.00090151, 0.00109046, 0.0009779 , 0.00118496,
       0.00090187]), 'std_fit_time': array([9.20082306e-04, 3.01925683e-04, 5.37038408e-04, 2.36335716e-05,
       7.34021641e-04, 3.00797672e-04]), 'mean_score_time': array([0.00553658, 0.00467844, 0.00538712, 0.00519798, 0.00479972,
       0.00488379]), 'std_score_time': array([0.00158095, 0.0009864 , 0.00118098, 0.00087649, 0.0004    ,
       0.00103625]), 'param_n_neighbors': masked_array(data=[1, 3, 5, 7, 9, 11],
             mask=[False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'n_neighbors': 1}, {'n_neighbors': 3}, {'n_neighbors': 5}, {'n_neighbors': 7}, {'n_neighbors': 9}, {'n_neighbors': 11}], 'split0_test_score': array([0.80808081, 0.82828283, 0.7979798 , 0.83838384, 0.81818182,
       0.81818182]), 'split1_test_score': array([0.62626263, 0.56565657, 0.75757576, 0.75757576, 0.75757576,
       0.76767677]), 'split2_test_score': array([0.62626263, 0.5959596 , 0.76767677, 0.75757576, 0.76767677,
       0.76767677]), 'split3_test_score': array([0.55555556, 0.5959596 , 0.77777778, 0.7979798 , 0.80808081,
       0.80808081]), 'split4_test_score': array([0.52040816, 0.52040816, 0.84693878, 0.84693878, 0.82653061,
       0.79591837]), 'split5_test_score': array([0.6122449 , 0.60204082, 0.83673469, 0.83673469, 0.81632653,
       0.79591837]), 'split6_test_score': array([0.62244898, 0.63265306, 0.85714286, 0.83673469, 0.84693878,
       0.84693878]), 'split7_test_score': array([0.55102041, 0.55102041, 0.7755102 , 0.75510204, 0.75510204,
       0.73469388]), 'split8_test_score': array([0.6122449 , 0.62244898, 0.76530612, 0.82653061, 0.79591837,
       0.79591837]), 'split9_test_score': array([0.58163265, 0.58163265, 0.78571429, 0.78571429, 0.80612245,
       0.79591837]), 'mean_test_score': array([0.61161616, 0.60960627, 0.7968357 , 0.80392703, 0.79984539,
       0.79269223]), 'std_test_score': array([0.07428195, 0.07940273, 0.03473885, 0.03570535, 0.02912713,
       0.02913109]), 'rank_test_score': array([5, 6, 3, 1, 2, 4])}

**随机森林对泰坦尼克号的生存进行预测**

In [152]:
from sklearn.ensemble import RandomForestClassifier
# 4.随机深林算法预估器 
estimator = RandomForestClassifier()
# 加入网格搜索和交叉验证
# 参数准备
params_dict = {"n_estimators": [100, 200, 300, 400, 500, 1200],"max_depth":[4,5,6,7,8],"criterion":["entropy"]}
# estimator:估计器对象 param_grid：估计器参数(dict){"n_neighbors":[1,9,11]} cv:指定几折交叉验证 fit():输入训练集数据 score()准确率
estimator = GridSearchCV(estimator, param_grid=params_dict, cv=2)
estimator.fit(x_train, y_train)
# 5.模型评估
# 方法1：直接对比真实值和与测试
y_predict = estimator.predict(x_test)
print("y_predict:\n", y_predict)
print("y_test:\n", y_test)
print("直接对比真实值和预测值:\n", y_predict == y_test)
# 方法2：计算准确率
score = estimator.score(x_test, y_test)
print("准确率为:\n", score)

# 最佳参数:best_params_
print("最佳参数\n", estimator.best_params_)
# 最佳结果：best_score_
print("最佳结果\n", estimator.best_score_)
# 最佳估计器：best_estimator_
print("最佳估计器\n", estimator.best_estimator_)
# 交叉验证结果：cv_results_
print("交叉验证结果\n", estimator.cv_results_)

y_predict:
 [0 0 0 1 0 1 0 0 0 0 1 0 0 0 1 0 1 0 0 0 1 1 0 0 0 0 0 1 0 1 1 1 1 0 0 0 0
 0 1 1 1 0 0 0 1 0 1 1 0 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1 1 0 0 0 0 0 0
 1 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 0 0
 0 1 0 1 0 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 1 0 0 0 0 0
 1 0 1 0 1 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0
 0 1 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0
 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 1]
y_test:
 590     0
1157    0
641     1
398     1
853     0
       ..
563     0
358     1
121     0
1097    0
83      1
Name: survived, Length: 329, dtype: int64
直接对比真实值和预测值:
 590      True
1157     True
641     False
398      True
853      True
        ...
563      True
358      True
121      True
1097     True
83       True
Name: survived, Length: 329, dtype: bool
准确率为:
 0.8145896656534954
最佳参数
 {'criterion': 'entropy', 'max_depth': 5, 'n_estimators': 300}
最佳结果
 0.8241869918699187
最佳估计器
 RandomForestClassifier(criterion='entropy', max_depth=5, n_estimators=300)
交叉验证结果
 {'mean_fit_time': array([0.10773706, 0.19297969, 0.30615187, 0.3949554 , 0.49763954,
       1.58897257, 0.1530757 , 0.3373847 , 0.42813838, 0.62685108,
       1.13304913, 1.80858314, 0.13982916, 0.30716383, 0.46723175,
       0.61357844, 0.76146626, 1.85352802, 0.15277028, 0.32195222,
       0.47836339, 0.66029692, 1.33696401, 2.25642073, 0.19825661,
       0.38971925, 0.65994167, 0.74528587, 1.19055343, 2.95836234]), 'std_fit_time': array([7.97224045e-03, 5.05089760e-04, 1.09999180e-02, 9.85383987e-04,
       1.19386911e-02, 3.60212326e-02, 1.24795437e-02, 3.00669670e-03,
       2.06164122e-02, 6.43358231e-02, 1.00861788e-02, 8.12751055e-02,
       1.53231621e-03, 2.97200680e-03, 1.04892254e-02, 8.19456577e-03,
       1.31447315e-02, 2.14662552e-02, 1.70080662e-02, 1.77611113e-02,
       4.54127789e-03, 4.00140285e-02, 3.85288119e-01, 2.02952027e-01,
       1.51988268e-02, 9.79542732e-03, 4.45888042e-02, 3.46029997e-02,
       1.50036097e-01, 5.44578314e-01]), 'mean_score_time': array([0.01096785, 0.01993704, 0.03096426, 0.04036295, 0.05187905,
       0.14403391, 0.01249444, 0.03091896, 0.03937757, 0.05281842,
       0.0688498 , 0.18329692, 0.01442325, 0.0289228 , 0.04340398,
       0.05485666, 0.06832874, 0.16604424, 0.01512146, 0.02568245,
       0.04339993, 0.05734289, 0.09398592, 0.18908441, 0.01494157,
       0.04238474, 0.05141592, 0.07779431, 0.0899986 , 0.17841971]), 'std_score_time': array([5.12599945e-06, 1.66893005e-05, 1.20401382e-05, 5.27977943e-04,
       3.00967693e-03, 4.77623940e-03, 4.98890877e-04, 9.95516777e-04,
       4.79340553e-04, 6.79492950e-06, 1.57356262e-05, 1.78389549e-02,
       1.51050091e-03, 1.99365616e-03, 3.47173214e-03, 2.77757645e-05,
       4.87208366e-04, 5.46932220e-04, 1.11722946e-03, 2.08139420e-04,
       4.82201576e-04, 4.48501110e-03, 2.41731405e-02, 7.41183758e-03,
       1.01578236e-03, 5.44941425e-03, 3.43656540e-03, 9.87052917e-04,
       7.70485401e-03, 1.41978264e-04]), 'param_criterion': masked_array(data=['entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_max_depth': masked_array(data=[4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6,
                   7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_n_estimators': masked_array(data=[100, 200, 300, 400, 500, 1200, 100, 200, 300, 400, 500,
                   1200, 100, 200, 300, 400, 500, 1200, 100, 200, 300,
                   400, 500, 1200, 100, 200, 300, 400, 500, 1200],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'criterion': 'entropy', 'max_depth': 4, 'n_estimators': 100}, {'criterion': 'entropy', 'max_depth': 4, 'n_estimators': 200}, {'criterion': 'entropy', 'max_depth': 4, 'n_estimators': 300}, {'criterion': 'entropy', 'max_depth': 4, 'n_estimators': 400}, {'criterion': 'entropy', 'max_depth': 4, 'n_estimators': 500}, {'criterion': 'entropy', 'max_depth': 4, 'n_estimators': 1200}, {'criterion': 'entropy', 'max_depth': 5, 'n_estimators': 100}, {'criterion': 'entropy', 'max_depth': 5, 'n_estimators': 200}, {'criterion': 'entropy', 'max_depth': 5, 'n_estimators': 300}, {'criterion': 'entropy', 'max_depth': 5, 'n_estimators': 400}, {'criterion': 'entropy', 'max_depth': 5, 'n_estimators': 500}, {'criterion': 'entropy', 'max_depth': 5, 'n_estimators': 1200}, {'criterion': 'entropy', 'max_depth': 6, 'n_estimators': 100}, {'criterion': 'entropy', 'max_depth': 6, 'n_estimators': 200}, {'criterion': 'entropy', 'max_depth': 6, 'n_estimators': 300}, {'criterion': 'entropy', 'max_depth': 6, 'n_estimators': 400}, {'criterion': 'entropy', 'max_depth': 6, 'n_estimators': 500}, {'criterion': 'entropy', 'max_depth': 6, 'n_estimators': 1200}, {'criterion': 'entropy', 'max_depth': 7, 'n_estimators': 100}, {'criterion': 'entropy', 'max_depth': 7, 'n_estimators': 200}, {'criterion': 'entropy', 'max_depth': 7, 'n_estimators': 300}, {'criterion': 'entropy', 'max_depth': 7, 'n_estimators': 400}, {'criterion': 'entropy', 'max_depth': 7, 'n_estimators': 500}, {'criterion': 'entropy', 'max_depth': 7, 'n_estimators': 1200}, {'criterion': 'entropy', 'max_depth': 8, 'n_estimators': 100}, {'criterion': 'entropy', 'max_depth': 8, 'n_estimators': 200}, {'criterion': 'entropy', 'max_depth': 8, 'n_estimators': 300}, {'criterion': 'entropy', 'max_depth': 8, 'n_estimators': 400}, {'criterion': 'entropy', 'max_depth': 8, 'n_estimators': 500}, {'criterion': 'entropy', 'max_depth': 8, 'n_estimators': 1200}], 'split0_test_score': array([0.81504065, 0.81504065, 0.81300813, 0.81300813, 0.81300813,
       0.81300813, 0.80894309, 0.81504065, 0.81504065, 0.81504065,
       0.81504065, 0.81707317, 0.80081301, 0.79674797, 0.79878049,
       0.79878049, 0.79674797, 0.79674797, 0.79674797, 0.79471545,
       0.79674797, 0.79471545, 0.79471545, 0.79674797, 0.79674797,
       0.79471545, 0.79674797, 0.79674797, 0.79674797, 0.79674797]), 'split1_test_score': array([0.82723577, 0.82520325, 0.82520325, 0.82520325, 0.82520325,
       0.82520325, 0.82723577, 0.82520325, 0.83333333, 0.83130081,
       0.83333333, 0.82723577, 0.83536585, 0.83130081, 0.83130081,
       0.82926829, 0.83536585, 0.82926829, 0.82520325, 0.82113821,
       0.82723577, 0.82723577, 0.82723577, 0.82723577, 0.81910569,
       0.82520325, 0.82317073, 0.82113821, 0.81910569, 0.81707317]), 'mean_test_score': array([0.82113821, 0.82012195, 0.81910569, 0.81910569, 0.81910569,
       0.81910569, 0.81808943, 0.82012195, 0.82418699, 0.82317073,
       0.82418699, 0.82215447, 0.81808943, 0.81402439, 0.81504065,
       0.81402439, 0.81605691, 0.81300813, 0.81097561, 0.80792683,
       0.81199187, 0.81097561, 0.81097561, 0.81199187, 0.80792683,
       0.80995935, 0.80995935, 0.80894309, 0.80792683, 0.80691057]), 'std_test_score': array([0.00609756, 0.0050813 , 0.00609756, 0.00609756, 0.00609756,
       0.00609756, 0.00914634, 0.0050813 , 0.00914634, 0.00813008,
       0.00914634, 0.0050813 , 0.01727642, 0.01727642, 0.01626016,
       0.0152439 , 0.01930894, 0.01626016, 0.01422764, 0.01321138,
       0.0152439 , 0.01626016, 0.01626016, 0.0152439 , 0.01117886,
       0.0152439 , 0.01321138, 0.01219512, 0.01117886, 0.0101626 ]), 'rank_test_score': array([ 5,  6,  8,  8,  8,  8, 12,  6,  1,  3,  1,  4, 12, 16, 15, 16, 14,
       18, 21, 27, 19, 21, 21, 19, 27, 24, 24, 26, 27, 30])}